urlShortener/bin/Debug/net8.0/urlShortener.dll
urlShortener/bin/Debug/net8.0/urlShortener.pdb
urlShortener/obj/Debug/net8.0/urlShortener.AssemblyInfo.cs
urlShortener/obj/Debug/net8.0/urlShortener.AssemblyInfoInputs.cache
urlShortener/obj/Debug/net8.0/urlShortener.csproj.CoreCompileInputs.cache
urlShortener/obj/Debug/net8.0/urlShortener.dll
urlShortener/obj/Debug/net8.0/urlShortener.pdb
urlShortener/obj/Debug/net8.0/urlShortener.sourcelink.json
urlShortener/obj/Debug/net8.0/ref/urlShortener.dll
urlShortener/obj/Debug/net8.0/refint/urlShortener.dll
